#tinymce ul,
.site-inner ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 28px;

    li {
        list-style-type: none;
        position: relative;
        padding-left: rem(24px);
        margin-bottom: rem(12px);

        &:before {
            content: "";
            height: 8px;
            width: 8px;
            background-color: $primary-color;
            border-radius: 50%;
            position: absolute;
            left: 3px;
            top: 7px;
        }

        ul {
            margin-top: $small-spacing;
        }
    }
}

#tinymce ol,
.site-inner ol {
    margin-left: 0;
    margin: 0;
    padding: 0;
    margin-bottom: $base-spacing;

    li {
        position: relative;
        margin-left: rem(24px);
        margin-bottom: rem(12px);

        ol {
            margin-top: $small-spacing;
        }
    }
}

dl {
    margin-bottom: $base-spacing;

    dt {
        font-weight: 600;
        margin-top: $small-spacing;
    }

    dd {
        margin: 0;
    }
}

> dl,
> ol,
> ul,
p {
    margin-bottom: $base-spacing;
}