body {
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: 90%;
    line-height: $base-line-height;
    -webkit-font-smoothing: antialiased;

    @include selection {
      background-color: $action-color;
      color: white;
    }

    @media only screen and (min-width: 900px) {
        font-size: $base-font-size;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-size: $base-font-size;
    font-weight: 500;
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}

h1 {
    font-size: em(48);
    font-weight: bold;
}

h2 {
    font-size: em(40);
    font-weight: bold;
}

h3 {
    font-size: em(34);
}

h4 {
    font-size: em(28);
}

h5 {
    font-size: em(26);
}

h6 {
    font-size: em(20);
}

p {
    margin: 0 0 $base-spacing;
}

a {
    color: $action-color;
    text-decoration: none;
    transition: color $base-duration $base-timing;

    &:active,
    &:focus,
    &:hover {
        color: shade($action-color, 25%);
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
}

img,
picture {
    margin: 0;
    max-width: 100%;
}

blockquote {
    border-left: $base-border;
    border-color: $primary-color;
    border-width: 7px;
    margin: 4% 5% 4% 0;
    padding: 0 0 0 rem(20px);
}

code {
    background: $light-gray;
    border: $base-border;
    color: $base-font-color;
    padding: 2px 4px;
}

.wp-caption .wp-caption-text {
    margin: 10px 0;
    font-size: em(12);
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 1.2;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.small {
    font-size: em(14);
}

// Font Colors
.blue-font {
    color: $blue;
}
.light-blue-font {
    color: $light-blue;
}
.white-font {
    color: $white;
}
.dark-gray-font {
    color: $dark-gray;
}
.medium-gray-font {
    color: $medium-gray;
}
.light-gray-font {
    color: $light-gray;
}

// WYSIWYG background color
#tinymce {
    background: #e5e5e5;
}