.blog, .archive {

    .blog-title {
        text-align: center;
        padding-top: 4.5em;

        h2 {
            // margin-bottom: 0;
        }
    }

    .post {
        // border-radius: $base-border-radius;
        display: block;
        margin-bottom: $base-spacing;
        transition: all $base-duration $base-timing;

        @include media( $medium-screen-up ) {
            @include span-columns( 6 );
            @include omega( 2n );
        }

        &:hover {
            border-color: $action-color;
        }

        .post-image {
            height: 300px;
            margin-bottom: 20px;
            @include bg();
        }

        .post-date {
            background: #000;
            padding: 0.3em;
            color: #fff;
            font-size: em(18);
            font-weight: 700;
            margin:0;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        
        .entry-content {
            margin-bottom: 0;
            color: #555;

            p {
                font-size: em(14);
                margin-bottom: 0.75em;
            }

            *:last-child {
                margin-bottom: 0;
            }
        }

        .entry-header {
            background-color: $white;
            margin-bottom: 0;
            overflow: hidden;

            .entry-title {
                font-size: em(24);
                font-weight: bold;

                a {
                    color: #000;

                    &:hover {
                        color: $action-color;
                    }
                }
            }
        }

        .read-more-link {
            font-size: em(18);
            text-transform: uppercase;
            margin-top: 20px;
            display: block;
        }

        .entry-footer {
            display: none;
        }
    }
}

.single {

    .blog-title {
        // text-align: center;
    }

    .post {

        .entry-header {

            // .entry-meta {
            //     background: #000;
            //     padding: 0.3em 0.5em;
            //     color: #fff;
            //     font-size: em(18);
            //     font-weight: 700;
            //     font-family: $heading-font-family;
            //     display: inline-block;
            // }
        }

        .entry-footer {
            font-weight: bold;
        }
    }
}