.mobile-menu-icon {
    width: 30px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    @include transform(translateY(-50%) rotate(0deg));
    transition: $base-duration $base-timing;
    cursor: pointer;

    @include media($large-screen-up) {
        display: none;
    }
}

.mobile-menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 2px;
    left: 0;
    transform: rotate(0deg);
    transition: $base-duration/2 $base-timing;

    .scrolled & {
        background: $dark-gray;
    }
}

.mobile-menu-icon span:nth-child(1) {
    top: 0px;
}

.mobile-menu-icon span:nth-child(2),
.mobile-menu-icon span:nth-child(3) {
    top: 8px;
}

.mobile-menu-icon span:nth-child(4) {
    top: 16px;
}

.site-container.move-left .mobile-menu-icon span:nth-child(1) {
    width: 0%;
    left: 50%;
}

.site-container.move-left .mobile-menu-icon span:nth-child(2) {
    transform: rotate(45deg);
}

.site-container.move-left .mobile-menu-icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.site-container.move-left .mobile-menu-icon span:nth-child(4) {
    width: 0%;
    left: 50%;
}