.sidebar {
    font-size: $base-font-size;
    margin-top: 2em;

    @include media($large-screen-up) {
        margin-top: 0;
    }
}

.sidebar li {
    border-bottom: $base-border;
    margin-bottom: 1em !important;
    padding-bottom: 1em !important;
    padding-left: 0 !important;

    &:before {
    	display: none;
    }
}

.sidebar p:last-child,
.sidebar ul > li:last-child {
    margin-bottom: 0;
}

.sidebar .widget {
    background-color: white;
    margin-bottom: $base-spacing*2;
    padding: 0 $base-spacing;
}