.singleStaffDetailsInner {
    margin: 0 auto $base-spacing;
    max-width: 450px;
    padding: $base-spacing;
    background: #f5f5f5;

    img {
        display: block;
    }

    @include media( $large-screen-up ) {
        margin-bottom: 0;
        margin-right: $base-spacing;
        min-width: 350px;
        width: 350px;
    }

    .singleStaffName {
        margin-top: $small-spacing;

        h3 {
            margin-bottom: 0;
        }
    }
}

.singleStaffContact {
    margin-top: $small-spacing;
}

.single-staff .content {
    @include media( $large-screen-up ) {
        display: flex;
    }
}
