$icon-color: white;
$icon-color-scrolled: $dark-gray;

.site-header {
    background-color: transparent;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100001;
    @include transition($mm-transition);

    .move-left & {
        right: 300px;
    }

    > .wrap {
        display: flex;
        align-items: center;
        position: relative;

        @include media($large-screen-up) {
            position: static;
        }
    }
    
    &.scrolled {
        border-bottom: 1px solid #eee;
        background-color: white;
    }
    
    /* Title Area */
    .title-area {
        padding: 1em 0;

        .site-title {
            font-size: em(40);
            font-weight: 500;
            margin-bottom: 0;

            a {
                color: $dark-gray;
            }

            a:focus,
            a:hover {
                color: $action-color;
            }
        }

        .site-description {
            font-family: $base-font-family;
            font-size: $base-font-size;
            font-weight: 500;
            margin-bottom: 0;
        }
        
        .header-image & {
            .site-description,
            .site-title {
                display: block;
                text-indent: -9999px;
                font-size: 1em;
            }

            .site-title > a {
                background-color: transparent;
                background-image: url('assets/images/logo-light.png');
                background-position: left center;
                background-repeat: no-repeat;
                background-size: contain;
                display: block;
                height: 35px;
                width: 128px;
                transition: opacity $base-duration $base-timing;
                float: left;

                @include media($large-screen-up) {
                    height: 45px;
                    width: 164px;
                }

                &:before {
                    content: '';
                    background-image: url('assets/images/logo-dark.png');
                }

                &.scrolled {
                    background-image: url('assets/images/logo-dark.png');
                }
            }
        }
    }
    
    /* Header Right */
    .widget-area {
        width: 100%;
        text-align: right;
        align-items: center;
        flex-direction: row-reverse;
        display: none;

        @include media($large-screen-up) {
            padding-left: $base-spacing;
            text-align: right;
            width: calc( 100% - 185px );
            display: flex;
        }

        .genesis-nav-menu {
            display: none;
            @include media($large-screen-up) {
                display: block;
            }
        }

        .widget {
            margin: 0;

            li li {
                margin-left: 0;
            }
        }
        
        .top-icon-section {
            margin-left: $base-spacing;

            .searchPhoneWrap {
                align-items: center;
                border-left: $base-border;
                display: flex;
                justify-content: flex-end;
                padding: 14px 0 14px $base-spacing;
            }

            .searchIcon {
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                height: 22px;
                width: 22px;
                opacity: 0.7;
                transition: all $base-duration $base-timing;

                &:hover {
                    opacity: 1;
                    cursor: pointer;
                }
                
                svg {
                    fill: transparent;
                    stroke: $icon-color;

                    .scrolled & {
                        fill: transparent;
                        stroke: $icon-color-scrolled;
                    }
                }
            }
        }
    }
}