.page-section-stories {
    overflow: hidden;

    .stories {
        width: 100%;
    }

    .story {
        // background-color: $primary-color;
        // border-radius: $base-border-radius;
        display: block;
        margin-bottom: $base-spacing * 2;
    }

    .story-img {
        height: 300px;
        margin-bottom: 20px;
        @include bg();
    }

    .story-title {
        text-transform: uppercase;
        margin-bottom: 0.3em;
        font-weight: bold;

        a {
            color: $dark-gray;

            &:hover {
                color: $light-blue;
            }
        }
    }

    .story-blurb-content {
        font-size: em(14);
        margin-bottom: 0.75em;
        color: #555;
    }

    .read-more {
        text-transform: uppercase;
        font-size: em(14);
    }

    @include media( $medium-screen ) {
        .stories {
            .story {
                @include span-columns(6);
                @include omega(2n);
            }
        }
    }

    @include media( $large-screen-up ) {

        &.two-posts .stories {
            .story {
                @include span-columns(6);
                @include omega(2n);
            }
        }

        &.three-posts .stories {
            .story {
                margin-bottom: 0;
                @include span-columns(4);
                @include omega-reset(2n);
                @include omega(3n);
            }
        }

        &.four-posts .stories {
            .story {
                margin-bottom: 0;
                @include span-columns(3);
                @include omega-reset(2n);
                @include omega(4n);
            }
        }
    }
}