.ribbon-cta-section {
    display: block;
    position: relative;
    background: $primary-color;

    .ribbon-content {
        @include media( $medium-screen-up ) {
            display: flex;
            @include align-items(center);
            @include justify-content(space-between);
        }
    }

    .ribbon-text {
        display: block;
        padding-bottom: rem(30px);
        padding-top: rem(30px);
        text-align: left;
        @include media( $medium-screen-up ) {
            padding-right: $base-spacing;
        }
    }

    .top-text,
    .bottom-text {
        color: white;
        line-height: 1;
        margin-bottom: 0;
    }

    .top-text {
        font-size: em(28px);
        font-weight: 300;
        margin-bottom: 5px;
        text-transform: uppercase;
    }

    .bottom-text {
        font-size: em(24px);
        font-family: $base-font-family;
        font-weight: 400;
    }

    .button-wrap {
        margin-bottom: rem(40px);
        display: inline-block;
        @include media( $medium-screen-up ) {
            margin-bottom: rem(0px);
        }
    }

}