// Padding Top
.smallpt {
    padding-top: $small-spacing;
}

.basept {
    padding-top: $base-spacing;
}

.basept2 {
    padding-top: $base-spacing*2;
}
.basept3 {
    padding-top: $base-spacing*3;
}

.sectionpt {
    padding-top: $mobile-section-margin;

    @include media($large-screen-up) {
        padding-top: $desk-section-margin;
    }
}

// Padding Right
.smallpr {
    padding-right: $small-spacing;
}

.basepr {
    padding-right: $base-spacing;
}

.basepr2 {
    padding-right: $base-spacing*2;
}

.basepr3 {
    padding-right: $base-spacing*3;
}

.sectionpr {
    padding-right: $mobile-section-margin;
    @include media($large-screen-up) {
        padding-right: $desk-section-margin;
    }
}

// Padding Left
.smallpl {
    padding-left: $small-spacing;
}

.basepl {
    padding-left: $base-spacing;
}

.basepl2 {
    padding-left: $base-spacing*2;
}

.basepl3 {
    padding-left: $base-spacing*3;
}

.sectionpl {
    padding-left: $mobile-section-margin;
    @include media($large-screen-up) {
        padding-left: $desk-section-margin;
    }
}

// Padding Bottom
.smallpb {
    padding-bottom: $small-spacing;
}

.basepb {
    padding-bottom: $base-spacing;
}

.basepb2 {
    padding-bottom: $base-spacing*2;
}

.basepb3 {
    padding-bottom: $base-spacing*3;
}

.sectionpb {
    padding-bottom: $mobile-section-margin;

    @include media($large-screen-up) {
        padding-bottom: $desk-section-margin;
    }
}


// Padd All Around
.smallpa {
    padding: $small-spacing;
}

.basepa {
    padding: $base-spacing;
}

.basepa2 {
    padding: $base-spacing*2;
}

.basepa3 {
    padding: $base-spacing*3;
}

.sectionpa {
    padding: $mobile-section-margin;
    @include media($large-screen-up) {
        padding: $desk-section-margin;
    }
}